@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

:root{
    --blue: #2a8dd3a6;
    --light-blue: #CEF0FF;
}

.text-shadow{
    text-shadow: 0 4px 4px rgba(24, 27, 51, 0.493);
}

body{
    background-image: url(../img/clouds-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

main{
    max-width: 820px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Barra de Pesquisa */
.search{
    display: flex;
    height: 50px;
}

.search input{
    width: 85%;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 7px 0 0 7px;
    border: 0;
    color: #4D5465;
}

.search button{
    width: 15%;
    font-size: 24px;
    background-color: #fff;
    border: 0;
    border-left: 1px solid #4D5465;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.search button i{
    color: #4D5465;
}

/* Previsão do Dia */
.location{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.location h3{
    font-size: 37px;
}

.location p{
    font-size: 18px;
    margin-top: -10px;
}

.location h2{
    font-size: 74px;
}

/* Umidade e Vento */
.status{
    background-color: var(--blue);
    border-radius: 6px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.status-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.status-container:nth-child(2){
    border-left: 1px solid var(--light-blue);
    padding-left: 20px;
}

.status-container i{
    font-size: 36px;
}

.status-container p{
    font-size: 24px;
    line-height: 25px;
}

.status-container p span{
    font-size: 18px;
}