@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

:root{
    --blue: #4f93e091;
    --grey: #565c6391;
    --aqua: #3c7a8591;
    --green: #4b836e91;
    --light-grey: #756d6991;
    --white: #e7e9e991;
    --light-blue: #ecf9ff60;
    --yellow: #ffcd4f;
}

/* ERRO */
.error{
    display: none;
    font-size: 20px;
    margin-top: 10px;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

@keyframes bounce {
    0% {
      transform: translateY(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateY(-5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateY(5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateY(-4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateY(4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateY(-2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateY(2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateY(0px);
      timing-function: ease-in;
    }
  }

.right-side{
    display: none;
    flex-direction: column;
}

.text-shadow{
    text-shadow: 0 4px 4px rgba(24, 27, 51, 0.356);
}

hr{
    border-top: 1px solid var(--light-blue);
    border-bottom: 0;
}

body{
    background-color: #4D5465;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 69px;
    margin-bottom: 65px;
    padding-left: 10px;
    padding-right: 10px;
}

main{
    max-width: 900px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Barra de Pesquisa */
.search{
    display: flex;
    height: 50px;
}

.search input{
    width: 85%;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 7px 0 0 7px;
    border: 0;
    color: #4D5465;
}

.search button{
    width: 15%;
    font-size: 24px;
    background-color: #fff;
    border: 0;
    border-left: 1px solid #4D5465;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.search button i{
    color: #4D5465;
}

/* Previsão do Dia */
.location{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.location img{
    width: 90px;
}

.location h3{
    font-size: 37px;
    margin-top: -30px;
    font-weight: 500;
}

.location h2{
    font-size: 64px;
}

/* Umidade e Vento */
.status{
    backdrop-filter: blur(3px);
    border-radius: 6px;
    padding: 10px 20px;
    display: none;
    grid-template-columns: 1fr 1fr;
}

.status-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.status-container:nth-child(2){
    border-left: 1px solid var(--light-blue);
    padding-left: 20px;
}

.status-container i{
    font-size: 36px;
}

.status-container p{
    font-size: 24px;
    line-height: 25px;
}

.status-container p span{
    font-size: 18px;
}

/* Previsão do Dia */
.day-preview{
    backdrop-filter: blur(3px);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.day-container{
    text-align: center;
}

.day-container .day-time{
    font-size: 14px;
}

.day-container .day-weather{
    font-size: 14px;
}

.day-container img{
    color: var(--yellow);
    font-size: 24px;
}

/* Previsão Semanal */
.week{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    backdrop-filter: blur(3px);
}

.week-text{
    color: #ffffffa4;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.week-text img{
    padding-right: 5px;
    width: 20px;
}
.week-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.week-day{
    font-size: 14px;
}

.week-weather{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

/* RESPONSIVO */
@media(min-width: 900px){
    .error{
        font-size: 24px;
        margin-top: 10px;
    }

    header h1{
        font-size: 64px;
    }
    
    main{
        max-width: 1440px;
        display: grid;
        gap: 40px;
    }
    
    /* Barra de Pesquisa */
    .search{
        display: flex;
        height: 70px;
    }
    
    .search input{
        padding-left: 20px;
        font-size: 18px;
    }
    
    .search button{
        font-size: 32px;
    }
    
    /* Previsão do Dia */
    .location{
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .location img{
        width: 120px;
    }
    
    .location h3{
        font-size: 48px;
        margin-top: -37px;
        font-weight: 500;
    }
    
    .location h2{
        font-size: 96px;
    }
    
    /* Umidade e Vento */
    .status{
        padding: 20px 30px;
    }
    .status-container i{
        font-size: 42px;
    }
    
    .status-container p{
        font-size: 36px;
        line-height: 25px;
    }
    
    .status-container p span{
        font-size: 24px;
    }
    
    /* Previsão do Dia */
    .day-preview{
        margin-top: 0;
        padding: 20px 30px;
    }
    
    .day-container .day-time{
        font-size: 20px;
    }
    
    .day-container .day-weather{
        font-size: 20px;
    }

    
    .day-container img{
        width: 36px;
    }
    
    /* Previsão Semanal */
    .week{
        padding: 20px 30px;
    }
    
    .week-text{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .week-text img{
        padding-right: 5px;
        width: 25px;
    }

    .week-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    .week-day{
        font-size: 20px;
    }
    
    .week-weather{
        font-size: 20px;
    }

    .week-weather img{
        width: 30px;
    }
    
    /* Divisão do conteudo */
    .right-side{
        justify-content: space-between;
    }
}